body {
  padding: 0;
}

/* ##### header styles ##### */

.header {
  max-width: 100vw;
  height: 1.1rem;
  padding: 0;
  margin: 0;

/* stylelint-disable */

  .navbar {
    max-width: 99%;
    height: inherit;
    display: grid;
    grid-template-columns: 70% 30%;
    border: 2px solid black;
    margin: 0 auto;
    padding: 0.4rem 0;

    .nav-start {
      grid-column: 1 / span 1;
      margin: 0 auto auto 0;

      h4 {
        padding: 0;
        margin: 0 auto auto 1rem;
      }
    }

    .nav-end {
      grid-column: 2 / span 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-content: center;

      label {
        border-right: 3px solid black;
        text-align: center;

        &:hover {
          color: rgb(4, 4, 175);
        }
      }

      label:last-child {
        border-right: none;
      }

      .books {
        grid-column: 1 / span 1;
        height: 100%;
      }

      .forms {
        grid-column: 2 / span 1;
        margin: 0 auto;
      }

      .contact {
        grid-column: 3 / span 1;
        margin-left: 30% !important;
      }
    }
  }
}

/* ##### main Styles #### */
.main {
  max-width: 100vw;
  padding: 0;
  min-height: 87.5vh;
  max-height: 95vh;

  .current-date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5em;
  }

  input[type="radio"] {
    display: none;
  }

  #books:checked ~ .books {
    display: block;
  }

  #forms:checked ~ .form {
    display: block;
  }

  #contact:checked ~ .contact {
    display: flex;
  }

  hr {
    display: none;
    width: 20%;
    height: 5px;
    background-color: gray;
    border-radius: 50%;
  }

  /* ##### Book list style found here ##### */

  .books {
    display: none;
    width: 80%;
    margin: 0 auto 0 auto;
    height: 100%;

    h1 {
      text-align: center;
    }

    .booksList {
      border: 2px solid rgb(61, 60, 60);
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .booksList > div:nth-child(2n+1) {
      background-color: rgb(224, 219, 219);
    }

    .booksList > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.5rem 0.5rem 0;
      margin: 0;
      max-width: 100%;
    }

    .booksList > div > button {
      padding: 0.3rem 1rem 0.3rem 1rem;
      box-shadow: 3px 3px black;
    }

    .booksList > div > p {
      padding: 0;
      margin: 0 0 0;
    }
  }

  /* ##### form styles ##### */
  .form {
    display: none;
    width: 50%;
    margin: 1rem auto 0 auto;
    position: relative;

    h2 {
      text-align: center;
    }

    input {
      width: 100%;
      height: 1.3rem;
      border: 2px solid rgb(73, 71, 71);
    }

    .submit {
      margin-left: 85%;
      width: 15%;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      box-shadow: 3px 3px black;
    }
  }

  /* ##### contact styles goes here ##### */

  .contact {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ##### footer Styles #### */
footer {
  border: 2px solid black;
  padding: 1em;
  font-weight: 900;
}

@media only screen and (max-width: 560px) {
  .header {
    max-width: 100vw;
    height: 1.8rem;
    padding: 0;
    margin: 0;

    .navbar {
      max-width: 99%;
      height: inherit;
      display: grid;
      grid-template-columns: 50% 50%;
      border: 2px solid black;
      margin: 0 auto;
      padding: 0.4rem 0;

      .nav-start {
        grid-column: 1 / span 1;
        margin: auto auto auto 0;

        h4 {
          padding: 0;
          margin: auto auto auto 1rem;
        }
      }

      .nav-end {
        grid-column: 2 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;

        label {
          border-right: 3px solid black;
          text-align: center;

          &:hover {
            color: rgb(4, 4, 175);
          }
        }

        .books {
          grid-column: 1 / span 1;
          height: 100%;
        }

        .forms {
          grid-column: 2 / span 1;
          margin: 0 auto;
        }

        .contact {
          grid-column: 3 / span 1;
          margin-left: 30% !important;
        }
      }
    }
  }

  /* ##### main Styles #### */
  .main {
    max-width: 100vw;
    min-height: 87.5vh;
    max-height: 95vh;
    padding: 0;

    input[type="radio"] {
      display: none;
    }

    #books:checked ~ .books {
      display: block;
    }

    #forms:checked ~ .form {
      display: block;
    }

    #contact:checked ~ .contact {
      display: block;
    }

    hr {
      display: none;
      width: 20%;
      height: 5px;
      background-color: gray;
      border-radius: 50%;
    }

    /* ##### Book list style found here ##### */

    .books {
      display: none;
      width: 90%;
      margin: 0 auto 0 auto;
      height: 100%;

      h1 {
        text-align: center;
      }

      .booksList {
        border: 2px solid rgb(61, 60, 60);
        width: 100%;
        margin-bottom: 1.5rem;
      }

      .booksList > div:nth-child(2n+1) {
        background-color: rgb(224, 219, 219);
      }

      .booksList > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.5rem 0.5rem 0;
        margin: 0;
        max-width: 100%;
      }

      .booksList > div > button {
        padding: 0.3rem 1rem 0.3rem 1rem;
        box-shadow: 3px 3px black;
      }

      .booksList > div > p {
        padding: 0;
        margin: 0 0 0;
      }
    }

    /* ##### form styles ##### */
    .form {
      display: none;
      width: 80%;
      margin: 1rem auto 0 auto;
      position: relative;

      h2 {
        text-align: center;
      }

      input {
        width: 100%;
        height: 1.3rem;
        border: 2px solid rgb(73, 71, 71);
      }

      .submit {
        margin-left: 85%;
        width: 15%;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        box-shadow: 3px 3px black;
      }
    }

    /* ##### contact styles goes here ##### */

    .contact {
      display: none;
    }
  }

  footer {
    border: 2px solid black;
    padding: 1em;
    font-weight: 900;
  }
}
