body {
  padding: 0;
}

.main {
  max-width: 100vw;
  height: 100%;
  padding: 0;

  hr {
    width: 20%;
    height: 5px;
    background-color: gray;
    border-radius: 50%;
  }

  .books {
    width: 60%;
    margin: 0 auto 0 auto;
    height: 100%;

    h1 {
      text-align: center;
    }

    .booksList {
      border: 2px solid rgb(61, 60, 60);
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .booksList > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.5rem 0.5rem 0;
      margin: 0;
      max-width: 100%;
    }

    .booksList > div:nth-child(2n+1) {
      background-color: rgb(224, 219, 219);
    }

    .booksList > div > button {
      padding: 0.3rem 1rem 0.3rem 1rem;
      box-shadow: 3px 3px black;
    }

    .booksList > div > p {
      padding: 0;
      margin: 0 0 0;
    }
  }

  .form {
    width: 25%;
    margin: 1rem auto 0 auto;
    position: relative;

    h2 {
      text-align: center;
    }

    input {
      width: 100%;
      height: 1.3rem;
      border: 2px solid rgb(73, 71, 71);
    }

    .submit {
      margin-left: 72%;
      width: 30%;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      box-shadow: 3px 3px black;
    }
  }
}

@media only screen and (max-width: 560px) {
  .main {
    max-width: 100vw;
    height: 100%;
    padding: 0;

    hr {
      width: 20%;
      height: 5px;
      background-color: gray;
      border-radius: 50%;
    }

    .books {
      width: 80%;
      margin: 0 auto 0 auto;
      height: 100%;

      h1 {
        text-align: center;
      }

      .booksList {
        border: 2px solid rgb(61, 60, 60);
        width: 100%;
        margin-bottom: 1.5rem;
      }

      .booksList > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.5rem 0.5rem 0;
        margin: 0;
        max-width: 100%;
      }

      .booksList > div:nth-child(2n+1) {
        background-color: rgb(224, 219, 219);
      }

      .booksList > div > button {
        padding: 0.3rem 1rem 0.3rem 1rem;
        box-shadow: 3px 3px black;
      }

      .booksList > div > p {
        padding: 0;
        margin: 0 0 0;
      }
    }

    .form {
      width: 55%;
      margin: 1rem auto 0 auto;
      position: relative;

      h2 {
        text-align: center;
      }

      input {
        width: 100%;
        height: 1.3rem;
        border: 2px solid rgb(73, 71, 71);
      }

      .submit {
        margin-left: 72%;
        width: 30%;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        box-shadow: 3px 3px black;
      }
    }
  }
}
